html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
}

body {
  margin: 0;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  padding-bottom: 1em;
}

.message p {
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  html {
    background: hsl(230, 10%, 5%);
    color: white;
  }
}
