html {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  font-size: 20px;
}

body {
  margin: 0 auto;
  padding: 16px;
  max-width: 1200px;
}

@media (prefers-color-scheme: dark) {
  html {
    background: hsl(230, 10%, 5%);
    color: white;
  }

  img {
    opacity: 0.97;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .logo {
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & a {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px;
    color: inherit;
    border: 1px solid currentColor;
    text-decoration: none;

  }
}

.gallery {
  display: grid;
  padding: 0;
  gap: 16px;
  grid-template-columns: repeat(3, 1fr);

  & a {
    overflow: hidden;

    &:hover {
      & img {
        scale: 1;
        opacity: 1;
      }
    }

    & img {
      width: 100%;
      object-fit: cover;
      transition: all 0.3s ease-out;
      opacity: 0.9;
      scale: 1.035;
    }
  }
}

@media screen and (max-width: 640px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}